<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="acn.android.test">

    <application
        android:name="acn.android.test.BaseApplication"
        android:allowBackup="true"
        android:largeHeap="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true">

        <activity android:name="acn.android.test.activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="acn.android.test.activity.ImageActivity">
        </activity>

        <activity android:name="acn.android.test.activity.ZoomableImageActivity">
        </activity>

        <activity android:name="acn.android.test.activity.ImageGalleryActivity">
        </activity>

        <activity android:name="acn.android.test.activity.ImagePagerActivity">
        </activity>

        <activity android:name="acn.android.test.activity.ZoomableImagePagerActivity">
        </activity>

        <activity android:name="acn.android.test.activity.ViewPagerActivity">
        </activity>

        <activity android:name="acn.android.test.activity.VideoPlayerActivity">
        </activity>

        <activity android:name="acn.android.test.activity.InfiniteListActivity">
        </activity>

    </application>

</manifest>
