<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.accenture.android.test">

    <application
        android:name=".BaseApplication"
        tools:replace="theme, label"
        android:allowBackup="true"
        android:largeHeap="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AcnTheme">

        <activity android:name=".activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".activity.ImageActivity">
        </activity>

        <activity android:name=".activity.ZoomableImageActivity">
        </activity>

        <activity android:name=".activity.ImageGalleryActivity">
        </activity>

        <activity android:name=".activity.ImagePagerActivity">
        </activity>

        <activity android:name=".activity.ZoomableImagePagerActivity">
        </activity>

        <activity android:name=".activity.ViewPagerActivity">
        </activity>

        <activity android:name=".activity.VideoPlayerActivity">
        </activity>

        <activity android:name=".activity.InfiniteListActivity">
        </activity>

    </application>

</manifest>
